<div class="container">
	<div class="row spacer">
		<div class="col-lg-12">
			<h2>Jolt.NET</h2>
			<p>Jolt.NET is a gamejolt API wrappen written in C#. It is deployed as a portable class library (<a href="https://msdn.microsoft.com/en-us/library/gg597391(v=vs.110).aspx" target="_blank">PCL</a>).</p>

			<a href="https://github.com/MagnusMogens/Jolt.NET/blob/master/LICENSE" target="_blank"><img src="http://img.shields.io/badge/license-Apache_2-blue.svg?style=flat-square" alt="Apache 2 license" /></a>
			<a href="https://ci.appveyor.com/project/MagnusMogens/jolt-net" target="_blank"><img src="https://img.shields.io/appveyor/ci/MagnusMogens/jolt-net.svg?style=flat-square" alt="Build status" /></a>
			<a href="https://github.com/MagnusMogens/Jolt.NET/releases" target="_blank"><img src="https://img.shields.io/github/release/MagnusMogens/Jolt.NET.svg?style=flat-square" alt="Releases" /></a>
			<a href="https://github.com/MagnusMogens/Jolt.NET" target="_blank"><img src="https://img.shields.io/badge/latest_dev-1.0.x-yellow.svg?style=flat-square" alt="latest development version 1.0.x" /></a>

			<h2>Dependencies</h2>
			<ul class="list-unstyled">
				<li><a href="https://www.nuget.org/packages/System.Xml.XmlSerializer/4.0.10" target="_blank"><img src="https://img.shields.io/badge/System.Xml.XmlSerializer-4.0.10-green.svg?style=flat-square" alt="System.Xml.XmlSerializer: 4.0.10" /></a></li>
				<li><a href="https://www.nuget.org/packages/System.Net.Requests/4.0.10" target="_blank"><img src="https://img.shields.io/badge/System.Net.Requests-4.0.10-green.svg?style=flat-square" alt="System.Net.Requests: 4.0.10" /></a></li>
				<li><a href="https://github.com/aarnott/pclcrypto/" target="_blank"><img src="https://img.shields.io/badge/PCLCrypto-1.1.86--beta-yellow.svg?style=flat-square" alt="PCLCrypto: 1.1.86-beta" /></a></li>
			</ul>
		</div>
	</div>
</div>