<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jolt.NET.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Jolt.NET.UI.Properties.Settings>
            <setting name="GameId" serializeAs="String">
                <value>113561</value>
            </setting>
            <setting name="GameKey" serializeAs="String">
                <value>ad36800f1061c86d26c49766a36185c3</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>MagnusMogens</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
        </Jolt.NET.UI.Properties.Settings>
    </userSettings>
</configuration>
